<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Book | Book List</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/home">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link active" href="/books"
                                >Add Books
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link mr-auto" href="/authors"
                                >Add Authors
                            </a>
                        </li>
                    </ul>

                    <span class="navbar-item">
                        <a class="nav-item nav-link" href="/logout">Log Out </a>
                    </span>
                </div>
            </div>
        </nav>

        <br />

        <div
            class="container bg-light h-100 w-100 d-flex flex-row justify-content-between align-items-start"
        >
            <div
                class="left_half_container bg-light w-50 d-flex flex-column justify-content-center"
            >
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <form class="container w-100" action="/add_book" method="POST">
                    <br />
                    {% csrf_token %}
                    <div
                        class="lh_header_block bg-dark text-white w-100 text-center"
                    >
                        <h1>Add a Book</h1>
                    </div>
                    <div class="form-group w-100 d-flex justify-content-center">
                        <!-- <label for="title" class="col-5 text-white bg-info"
                            >Title</label
                        > -->
                        <textarea
                            type="text"
                            name="title"
                            row="2"
                            placeholder="Please enter a title..."
                            class="form-control col"
                            required
                        ></textarea>
                    </div>

                    <div class="form-group w-100 d-flex justify-content-center">
                        <!-- <label for="desc" class="col-5 text-white bg-info"
                            >Description</label
                        > -->
                        <textarea
                            class="form-control col"
                            name="desc"
                            rows="4"
                            placeholder="Please enter a description..."
                            required
                        ></textarea>
                    </div>

                    <div class="form-group w-100 text-center">
                        <input
                            type="submit"
                            value="Add"
                            class="btn btn-success"
                        />
                    </div>
                </form>

                <a class="col" href="/home">Return Home</a>
                <br />
                <a class="col" href="/authors">Go to Authors</a>
            </div>

            <div class="right_half bg-light w-50">
                <table
                    class="table w-100 table-bordered table-hover table-striped"
                >
                    <br />

                    <h4 class="bg-dark text-white text-center">
                        List of Books
                    </h4>

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- This Django for loop is how bookID gets to urls.py to views.py -->
                        {% for book in books %}
                        <tr>
                            <td scope="col">{{book.id}}</td>
                            <td scope="col">{{book.title}}</td>
                            <td scope="col">
                                <a href="/edit_book/{{book.id}}">Edit</a> |
                                <a href="/delete_book/{{book.id}}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
