<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Log In</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="mx-auto bg-dark d-flex justify-content-center flex-column">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/"
                        >Home <span class="sr-only">(current)</span></a
                    >
                </div>
            </div>
        </nav>
        <br />
        <form
            action="/login_submission"
            method="POST"
            class="mx-auto bg-secondary border border-info rounded col-6 d-flex flex-column"
        >
            {% csrf_token %}
            <h1
                class="bg-info border border-info rounded text-center text-light m-2"
            >
                Please Log In:
            </h1>

            <br />

            {% if messages %}
            <div
                class="mx-auto bg-secondary d-flex col-3 justify-content-center flex-column"
            >
                <ul
                    class="messages bg-white text-dark border border-danger rounded"
                >
                    {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>

            <br />

            {% endif %}
            <div class="form-group d-flex flex-row">
                <label for="email" class="col-3 font-weight-bold">Email:</label>
                <input
                    type="text"
                    name="email"
                    id=""
                    placeholder="john.doe@email.com"
                    class="form-control col-8"
                />
            </div>

            <br />

            <div class="form-group d-flex flex-row">
                <label for="pw" class="col-3 font-weight-bold">Password:</label>
                <input
                    type="password"
                    name="pw"
                    id=""
                    placeholder="**************"
                    class="form-control col-8"
                />
            </div>

            <div class="form-group w-25 mx-auto text-center">
                <input type="submit" value="Log In!" class="btn btn-info" />
            </div>
        </form>

        <br />

        <form
            action="/registration_submission"
            method="POST"
            class="mx-auto bg-secondary border border-info rounded col-6 d-flex flex-column"
        >
            {% csrf_token %}
            <h1
                class="bg-info border border-info rounded text-center text-light m-2"
            >
                Registration Form:
            </h1>

            <br />

            {% if messages %}
            <div
                class="mx-auto bg-secondary d-flex col-6 justify-content-center flex-column"
            >
                <ul
                    class="messages bg-white text-dark border border-danger rounded"
                >
                    {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>

            <br />
            {% endif %}

            <div class="form-group d-flex flex-row">
                <label for="fname" class="col-3 font-weight-bold"
                    >First Name:</label
                >
                <input
                    type="text"
                    name="fname"
                    id=""
                    placeholder="John"
                    class="form-control col-8"
                />
            </div>

            <div class="form-group d-flex flex-row">
                <label for="lname" class="col-3 font-weight-bold"
                    >Last Name:</label
                >
                <input
                    type="text"
                    name="lname"
                    id=""
                    placeholder="Doe"
                    class="form-control col-8"
                />
            </div>

            <br />

            <div class="form-group d-flex flex-row">
                <label for="email" class="col-3 font-weight-bold">Email:</label>
                <input
                    type="text"
                    name="email"
                    id=""
                    placeholder="john.doe@email.com"
                    class="form-control col-8"
                />
            </div>

            <br />

            <p>*Password should be at least 8 characters*</p>
            <div class="form-group d-flex flex-row">
                <label for="pw" class="col-3 font-weight-bold">Password:</label>
                <input
                    type="password"
                    name="pw"
                    id=""
                    placeholder="**************"
                    class="form-control col-8"
                />
            </div>

            <div class="form-group d-flex flex-row">
                <label for="cpw" class="col-3 font-weight-bold"
                    >Confirm Password:</label
                >
                <input
                    type="password"
                    name="cpw"
                    id=""
                    placeholder="Re-enter Password"
                    class="form-control col-8"
                />
            </div>

            <div class="form-group w-25 mx-auto text-center">
                <input type="submit" value="Register!" class="btn btn-info" />
            </div>
        </form>
    </body>
</html>
